body {
    background-color: #0f212e;
    margin: 0;
    color: #F0F0F0;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


* {
    font-family: sans-serif;
}

/* HEADING STYLING */
.heading--container * {
    margin: 0;
    padding: 0;
}

.heading--container {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #11212c;
    height: 40px;
    box-shadow: 1px 2px 4px 0px #070a0c;
}

.heading--logo {
    width: 40px;
    stroke: white;
}


/* FORM STYLING */
.auth--container * {
    margin: 0;
    padding: 0;
}

.auth--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    margin-top: 60px;
}

.input--container {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.input--container input{
    height: 35px;
    background-color: transparent;
    border: .5px solid #565d62;
    border-radius: 2px;
    padding: 0px 8px 0px 8px;
    outline: none;
    font-size: 20px;
    color: #dee2e5;
}

.input--container button {
    margin-top: 15px;
    height: 40px;
    background-color: #1879bd;
    box-shadow: 1px 2px 4px 0px #080b0c;
    border-radius: 3px;
    border: none;
    padding: 0px 8px 0px 8px;
    outline: none;
    font-size: 18px;
    color: #ffffff;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: auto;
    bottom: 0;
    position: sticky;
    height: 40px;
    background-color: #0d1920;
    padding: 12px;
}

/* NAVBAR STYLING */
.profile--icon, .money--icon, .analytics--icon {
    width: 33px;
    fill: rgb(141, 139, 139);
}

.active--icon {
    fill: white;
}

.nav--link {
    text-underline-offset: 5px;
    margin-top: 20px;
    color: rgb(9, 201, 9);
}

.activeNav--link {
    text-underline-offset: 5px;
    margin-top: 20px;
    color: rgb(121, 9, 201);
}

/* ICON STATUS */
.icon--link {
    text-decoration: none;
}

.activeIcon--link svg{
    fill: white;
}

/* ACCOUNT STYLING */
.account--container * {
 text-decoration: none;   
}

.account--container, .intro--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* INTRO STYLING*/
.intro--container * {
    text-decoration: none;
}

.intro--container {
    padding: 20px;
    text-align: center;
}

.intro--container h3 {
    opacity: 25%;
}